.se-common {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    border-radius: 6px;
    margin: 10px;
    padding: 6px;
    letter-spacing: 0.1em;
    max-width: 94%;
    transition: transform 0.3s;
}

.se-leftNavToolBar {
    position: fixed;
    width: 100px;
    height: auto;
    left: 10px;
    z-index: 10000;
}

.se-leftNavToolBar li {
    display: block;
    float: left;
    width: 120px;
    height: 28px;
    line-height: 28px;
    color: rgb(0, 0, 0);
    padding: 2px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 4px 1px rgb(44, 44, 44);
    text-align: left;
    margin-top: 10px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.se-leftNavToolBar li:hover {
    background-color: coral;
}

.se-leftNavToolBar li svg {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}

/* preview close btn do not display */
.se-leftNavToolBar li:nth-last-child(3) svg:nth-last-child(2) {
    display: none;
}

.se-leftNavToolBar li span {
    display: block;
    float: left;
    margin-left: 18px;
}

.se-rightContent {
    display: block;
    width: 80%;
    height: 88vh;
    margin: 40px auto;
    background-color: rgb(49, 49, 49, 0.8);
    background: linear-gradient(45deg, rgba(204, 204, 204, 0.8), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8));
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 7px 0px 0px 7px;
    font-family: 宋体, Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 10px #777777;
    overflow-y: scroll;
    overflow-x: hidden;
}

.se-rightContent #dragArrow {
    position: fixed;
    display: none;
    transform: rotate(90deg);
    transition: transform 0.1s ease;
    z-index: 9999;
}

.se-rightContent .se-article-title {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    font-weight: bolder;
    padding: 4px;
    margin-bottom: 6px;
    text-align: center;
    background-color: #fff;
    user-select: none;
}

.se-rightContent .se-article-title svg {
    margin-left: 8px;
    margin-top: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.se-rightContent .se-article-title svg:hover {
    transform: scale(1.2);
}

.se-rightContent .se-article-title svg:hover path {
    fill: tomato;
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
.se-rightContent::-webkit-scrollbar {
    width: 4px;
    height: 16px;
    background: linear-gradient(coral 20%, cyan 80%, coral);
    /* background-color: #000000; */
}

/*定义滚动条轨道
  内阴影+圆角*/
.se-rightContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块
  内阴影+圆角*/
.se-rightContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: linear-gradient(#fff 10%, cyan 80%, #fff);
}

.se-rightContent .se-contentBlock {
    position: relative;
    float: left;
    width: 120%;
    background-color: rgba(134, 134, 134, 0.3);
    margin: 4px 0px 4px 0px;
    transform: translateX(10px);
    border: 1px solid transparent;
    border-left: 4px solid black;
    transition: all 0.3s ease;
}

.se-rightContent .se-contentBlock>.content {
    float: left;
    max-width: 90%;
}

.se-rightContent .se-contentBlock>.content>textarea {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    transition: outline 0.3s ease;
}

.se-rightContent .se-contentBlock>.content>textarea:focus {
    outline: 1px solid white;
}

.se-rightContent .se-contentBlock>.lineMark {
    float: left;
    width: fit-content;
    margin-top: 8px;
    margin-right: 8px;
    color: #fff;
    text-shadow: -1px 1px 0 #888888, 1px 1px 0 #888888;
}

.se-rightContent .se-contentBlock>.content .se-delete {
    float: left;
    margin-top: 13px;
    margin-left: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.se-rightContent .se-contentBlock>.content .se-delete:hover {
    transform: scale(1.4);
}

.se-rightContent .se-contentBlock>.content .se-delete:hover path {
    fill: red;
}

.se-rightContent .se-contentBlock .se-title {
    float: left;
    font-weight: bolder;
}

.se-rightContent .se-contentBlock .se-select {
    float: left;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.se-rightContent .se-contentBlock .se-content {
    text-indent: 2em;
    word-wrap: break-word;
}

.se-rightContent .se-contentBlock .se-footer {}

.se-rightContent .se-contentBlock .se-code {}

.se-rightContent .se-contentBlock .se-img {
    float: left;
    padding: 0px;
    margin-top: 10px;
    width: 200px;
    border: 2px solid #888888;
}

.se-rightContent .se-contentBlock .se-upload {
    position: absolute;
    left: 200px;
    bottom: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.se-rightContent .se-contentBlock .se-filepath {
    display: none;
}

.se-rightContent .se-contentBlock .se-upload:hover {
    transform: scale(1.4);
}

.se-rightContent .se-contentBlock .se-title:hover,
.se-rightContent .se-contentBlock .se-content:hover,
.se-rightContent .se-contentBlock .se-footer:hover,
.se-rightContent .se-contentBlock .se-code:hover,
.se-rightContent .se-contentBlock .se-img:hover {
    /* transform: translateY(-4px); */
    box-shadow: 2px 2px 10px 1px rgb(255, 255, 255);
}

.se-theme {
    position: relative;
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.se-theme .kok-card {
    margin: 20px auto;
    background: linear-gradient(45deg, rgb(219, 219, 219), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    transition: all 0.3s ease;
    cursor: pointer;
}

.se-theme .kok-card:hover {
    transform: translateY(-10px);
    box-shadow: 2px 2px 12px cyan;
}

.se-previewView {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.se-pre-footer {
    position: relative;
    padding: 4px;
    background-color: #ccc;
    bottom: 0px;
}